body {
  --gradient: linear-gradient(117deg, #26b1ff 24.98%, #1557ff 80.23%);
  font-family: "Work Sans", sans-serif;
}

.btn-contact-us {
  display: flex;
  height: 46px;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--gradient);
  color: #fff;
}

footer {
  background: #2684ff;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Curious-Blue-50, #f0f9ff);
  // font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  /* 238.462% */
  letter-spacing: -0.325px;
  padding: 10px 25px;
}

.social-group {
  display: flex;
  gap: 12px;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.landing-page {
  h1 {
    color: var(--Curious-Blue-950, #0f162f);
    font-family: "Work Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    /* 114.286% */
    letter-spacing: -2.24px;
    text-align: center;
  }

  .special-text {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .sub-title {
    color: #3b404f;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    /* 155% */
    letter-spacing: -0.72px;
    text-align: center;
    margin-top: 24px;
  }

  .expertise-section {
    display: flex;
    padding: var(----spacing-8xl, 80px);
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #fff 0%, #f2f8ff 41.77%, #fff 100%);
  }

  .expertise-div {
    width: 100%;
    max-width: 1280px;
  }

  h2 {
    text-align: center;
    color: var(--Curious-Blue-950, #0f162f);
    text-align: center;
    font-family: "Work Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    /* 125% */
    letter-spacing: -1.44px;
  }

  .expertise-items {
    display: flex;
    justify-content: space-between;
  }

  .ept-icon {
    background: var(--gradient);
    stroke-width: 1px;
    stroke: #27b1ff;

    backdrop-filter: blur(8px);
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .ept-title {
    color: #0836a1;
    font-family: "Work Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    /* 150% */
    letter-spacing: -1.2px;
    margin-bottom: 13;
    margin-top: 24px;
  }

  .ept-text {
    color: var(--Neutral-Grey, #68718b);
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    /* 115% */
    letter-spacing: -0.2px;
  }

  .ept-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 566px;
    order: 2;
  }

  .expertise-flex-order {
    .ept-info {
      order: 1;
    }

    .ept-img {
      order: 2;
    }
  }

  .ept-img {
    order: 1;
  }

  .contact-section {
    background: linear-gradient(175deg, #fff 16.91%, #004eff 102.75%);
    padding-top: 85px;
    padding-bottom: 110px;
    display: flex;
    justify-content: center;
  }

  .contact-img-left {
    top: -90px;
    left: 0;
  }

  .contact-img-right {
    bottom: 0;
    right: 0;
  }

  .contact-cont {
    position: relative;
    overflow: hidden;
    padding-top: 120px;
  }

  .contact-img {
    position: absolute;
    z-index: 1;
  }

  .contact-card {
    display: flex;
    max-width: 1044px;
    height: 182px;
    padding: var(----spacing-4xl, 32px) 86px;
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--radius-4xl, 24px);
    border: 1px solid #7ac3ff;
    background: #fff;
    box-shadow: 0px 12px 30px 0px rgba(123, 184, 255, 0.15);
    backdrop-filter: blur(50px);
    position: relative;
    z-index: 2;
  }

  .contact-title {
    width: 705px;
    color: var(--Curious-Blue-950, #0f162f);
    font-family: "Work Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    /* 127.5% */
    letter-spacing: -1.2px;
  }

  .our-works-block {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 0;
    padding-bottom: 0;

    .our-works-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      .our-works-title {
        color: var(--Curious-Blue-950, #0f162f);
        text-align: center;
        font-family: "Work Sans";
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 60px;
        /* 125% */
        letter-spacing: -1.44px;
        margin-bottom: 0;
      }

      .our-works-description {
        color: var(--Neutral-Grey, #68718b);
        text-align: center;
        /* Body Medium */
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        /* 143.75% */
        letter-spacing: -0.16px;
        max-width: 720px;
      }
    }

    .swiper-our-works {
      max-width: 100%;
      margin-top: 64px;

      .swiper-our-works-item {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .work-image {
          border-radius: 16px;
          border: 1px solid var(--Gray-100, #f2f4f7);
          background: var(--Gray-100, #f2f4f7);

          img {
            width: 100%;
            height: auto;
          }
        }

        .work-title {
          color: #000;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
          /* 155.556% */
          letter-spacing: -0.54px;
        }
      }
    }
  }

  .our-clients-block {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 96px;

    .our-clients-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      .our-clients-title {
        color: var(--Curious-Blue-950, #0f162f);
        text-align: center;
        font-family: "Work Sans";
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 60px;
        /* 125% */
        letter-spacing: -1.44px;
        margin-bottom: 0;
      }

      .our-clients-description {
        color: var(--Neutral-Grey, #68718b);
        text-align: center;
        /* Body Medium */
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        /* 143.75% */
        letter-spacing: -0.16px;
        max-width: 720px;
      }
    }

    .swiper-our-clients {
      max-width: 100%;
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgb(0, 0, 0) 25%,
        rgb(0, 0, 0) 75%,
        rgba(0, 0, 0, 0) 100%
      );

      .swiper-our-clients-item {
        background: #2684ff;
        height: 321px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;
        border-radius: 24px;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(25px);
        margin-top: 64px;

        .client-answer {
          color: #101828;
          font-family: "Work Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          /* 28px */
          letter-spacing: -0.72px;
          overflow: hidden;
        }

        .client-information {
          display: flex;
          gap: 16px;
          height: 48px;

          .client-avatar {
            height: 100%;
            width: 48px;
          }

          .client-detail {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .client-name {
              color: #101828;
              /* Text base - 16px/Semibold */
              // font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
              /* 150% */
              letter-spacing: -0.48px;
            }

            .client-position {
              overflow: hidden;
              color: #475467;
              text-overflow: ellipsis;
              /* Text sm - 14px/Regular */
              // font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
              /* 142.857% */
              letter-spacing: -0.42px;
            }
          }
        }
      }
    }

    .our-clients-pagination {
      display: flex;
      gap: 12px;
      justify-content: center;

      .custom-button {
        height: 48px;
        width: 48px;
        border-radius: 12px;
        background: #f2f4f7;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .landing-page {
    .expertise-section {
      padding: 40px;
    }

    .expertise-div {
      h2 {
        margin-bottom: 20px;
      }
    }

    .contact-card {
      display: block;
      height: auto;

      .btn-contact-us {
        margin-top: 20px;
      }
    }

    .contact-title {
      width: auto;
    }

    .contact-img-left {
      top: 40px;
      img {
        width: 246px;
        height: 304px;
      }
    }

    .contact-img-right {
      img {
        width: 224px;
        height: 176px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    display: block;
    justify-content: center;
  }
  .landing-page {
    .expertise-section {
      padding: 16px;
    }

    h1 {
      font-size: 48px;
    }

    .expertise-section {
      h2 {
        font-size: 36px;
        margin-bottom: 14px;
      }
    }

    .expertise-items {
      display: block;
      margin-bottom: 64px;
    }

    .ept-title {
      font-size: 24px;
      line-height: 60px;
      margin-bottom: 12px;
      margin-top: 0;
    }

    .ept-text {
      font-size: 16px;
      line-height: 23px;
      /* 143.75% */
    }

    .ept-img {
      width: 100%;
      order: 2;
    }

    .ept-info {
      order: 1;
    }

    .ept-icon {
      width: 40px;
      height: 40px;

      img {
        width: 18px;
        height: 18px;
      }
    }

    .contact-card {
      padding-left: 52px;
      padding-right: 52px;
      text-align: center;
      backdrop-filter: none;
      max-width: 98%;
    }

    .contact-title {
      font-size: 24px;
      text-align: center;
    }

    .div-btn-contact {
      display: flex;
      justify-content: center;
    }

    .our-works-block {
      .our-works-header {
        .our-works-title {
          color: var(--Curious-Blue-950, #0f162f);
          text-align: center;
          font-family: "Work Sans";
          font-size: 48px;
          font-style: normal;
          font-weight: 500;
          line-height: 60px;
          /* 125% */
          letter-spacing: -1.44px;
        }

        .our-works-description {
          color: var(--Neutral-Grey, #68718b);
          text-align: center;
          /* Body Medium */
          font-family: "Work Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 23px;
          /* 143.75% */
          letter-spacing: -0.16px;
        }
      }

      .swiper-our-works {
        margin-top: 22px;

        .swiper-our-works-item {
          .work-title {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 22.19px;
            /* 158.5% */
            letter-spacing: -0.42px;
          }
        }
      }
    }

    .our-clients-block {
      margin-top: 33px;

      .our-clients-header {
        .our-clients-title {
          color: var(--Curious-Blue-950, #0f162f);
          text-align: center;
          font-family: "Work Sans";
          font-size: 36px;
          font-style: normal;
          font-weight: 500;
          line-height: 60px;
          /* 166.667% */
          letter-spacing: -1.08px;
        }

        .our-clients-description {
          color: var(--Neutral-Grey, #68718b);
          text-align: center;
          font-family: "Work Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 23px;
          /* 143.75% */
          letter-spacing: -0.16px;
        }
      }

      .swiper-our-clients {
        mask-image: unset;

        .swiper-our-clients-item {
          margin-top: 30px;

          .client-answer {
            color: var(--Basic-elements-Text---text-primary, #101828);
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            /* 22.4px */
            letter-spacing: -0.576px;
          }

          .client-information {
            .client-detail {
              .client-name {
                color: var(--Basic-elements-Text---text-primary, #101828);
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                /* 171.429% */
                letter-spacing: -0.42px;
              }

              .client-position {
                overflow: hidden;
                color: var(--Basic-elements-Text---text-secondary, #475467);
                text-overflow: ellipsis;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                /* 200% */
                letter-spacing: -0.3px;
              }
            }
          }
        }
      }

      .our-clients-pagination {
        display: none;
      }
    }
  }
}
